.idea
build/
.gradle/
parser/src/generated/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
gradle-local.properties
data/*.csv
obsidian/.obsidian/workspace.json
obsidian/.obsidian/workspace-mobile.json
